{% extends 'base_generic.html' %}
{% block hero %}{% endblock %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="login-form">
  {% csrf_token %}
  <div class="form-section">
    <div>{{ form.username.label_tag }}</div>
    <div>{{ form.username }}</div>
  </div>
  <div class="form-section">
    <div>{{ form.password.label_tag }}</div>
    <div>{{ form.password }}</div>
  </div>
  <input type="submit" value="Login" class="login-button">
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p>Don't have an account - <a href="{% url 'signup' %}">Sign up!</a></p>
{% endblock %}