{% extends 'base_generic.html' %}
{% block hero %}{% endblock %}
{% block content %}

<form method="post" class="login-form">
    {% csrf_token %}
    <div class="form-section">
        <div>{{ form.username.errors }}</div>
        <div>Username: (This will show up on the leaderboard. No spaces)</div>
        <div>{{ form.username }}</div>
    </div>
    <div class="form-section">
        <div>{{ form.password1.errors }}</div>
        <div>{{ form.password1.label_tag }}</div>
        <div>{{ form.password1 }}</div>
    </div>
    <div class="form-section">
        <div>{{ form.password2.errors }}</div>       
        <div>{{ form.password2.label_tag }}</div>
        <div>{{ form.password2 }}</div>
    </div>
    <!-- {{ form.as_div }} -->
    <input type="submit" value="Submit" class="login-button" />
</form>
{% endblock %}