{% load static %}
{% load template_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tapper's Tipping</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <script src="{% static 'script.js' %}" async defer></script>
    <div class="container-header black">
        <header>
            <div id="nav">
                <!-- navbar -->
                <div class="topbar">
                    <!-- for small screens -->
                    <li class="username-small">
                        <a href="{% url 'rugby_tipping:index' %}" class="nav-item">Tapper's Tipping</a>

                    </li>

                    <button onclick="show_menu()" title="Menu" id="toggle-button" type="button" name="menu">
                        <i class="fa-solid fa-bars" id="hamburger-icon"></i>
                        <span class="visually-hidden">Menu</span>
                    </button>
                </div>
                <nav id="nav-bar">
                    <!-- for big screens -->
                    <ul>
                        <li><a href="{% url 'rugby_tipping:index' %}" class="nav-item">Home</a></li>
                        <li><a href="{% url 'rugby_tipping:pick' %}" class="nav-item">Pick</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="nav-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}" class="nav-item">Login</a></li>
                        <li><a href="{% url 'signup' %}" class="nav-item">Signup</a></li>
                        {% endif %}
                        <li class="username nav-item">
                            {% if user.is_authenticated %}
                            {{ user }}
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    {% block hero %}
    <div class="container hero">
        <h1>Tapper's Tipping</h1>
    </div>
    {% endblock %}
    <main>
    <div class="container">
            {% block content %}
            {% endblock %}
    </div>
    <div class="container">
        {% if user.is_authenticated %}
    <h2>Recent Matches</h2>
    {% for match in past_matches %}
    <div class="match">
        <div class="teams">
            <div class="home-team">
                <div class="icon">
                    <img src="https://crests.football-data.org/{{ match.home_api_sports_id }}.png">
                </div>
                <div class="score">{{ match.home_score }}
                </div>
                <div class="name">{{ match.home_team }}</div>
            </div>
            <div>
                <b>You Picked:</b> <br>{{ pick_strings|get_item:match.api_sports_id }}
            </div>
            <div class="away-team">
                <div class="icon">
                    <img src="https://crests.football-data.org/{{ match.away_api_sports_id }}.png">
                </div>

                <div class="score">{{ match.away_score }}
                </div>
                <div class="name">{{ match.away_team }}</div>
            </div>
        </div>
        <!-- <p>Correct Pick: {{ match.get_correct_pick_string }}</p> -->
    </div>
</div>
{% endfor %}
{% endif %}
2101    </main>
    <div class="container black">
        <footer>
            <p>Thank you for playing! For more information click the links below.</p>
            <ul>
                <li><a href="https://www.nzrugby.co.nz/">New Zealand Rugby</a></li>
                <li><a href="https://www.provincial.rugby/">NPC Competetion Website</a></li>
                <li><a href="https://www.taniwha.co.nz/">Northland Rugby</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>